@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Quicksand:wght@300..700&display=swap');

:root {
    /* 3c493f-7e8d85-b3bfb8-f0f7f4-a2e3c4 */
    --blue-slate: #495867;
    --glaucous: #577399;
    --sky: #bdd5ea;
    --white: #f7f7ff;
    --coral: #fe5f55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', 'Arial', sans-serif;
    padding: 50px;
}


/* Seleção de elemento */
h2 {
    font-family:'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.9);
}

#tabela {
    text-align: center;
    background-color: var(--coral);
    color: var(--white);
}



.negrito {
    font-weight: bold;
}

p.courier {
    font-family:'Courier New', Courier, monospace;
}

h1, h2, h3 {
    font-family: 'Lobster', 'Times New Roman', Times, serif;
    font-style: italic;
}

form button {
    background-color: brown;
}

img {
    height: 200px;
    
    

}
#nav-sections {
    /* margin-top: 15px; */
    /* margin: 15px 30px 50px 25px */
    margin: 15px 30px 50px;
    margin: 15px 30px;
    margin: 30px
}

.avatar {
    border-radius: 
    width: 
}

#nav-sections ul {
    list-style-type: none;

}

#nav-sections li {
    display: inline-block;
    
}

a {
    text-decoration: none;
    color: var(--sky);
    background-color: var(--blue-slate);
    border-radius: 5px;
    padding: 5px 15px;
}

a:hover {
    color: var(--coral);
    box-shadow: 0 0 10px var(--coral);
}

#nav-links {
    ul{
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    a {
    text-decoration: none;
    color: var(--sky);
    background-color: var(--glaucous);
    border-radius: 5px;
}

a:hover {
    color: var(--white);
    box-shadow: 0 0 10px var(--sky);








}
